@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styling */

p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    background-color: rgba(27,45,72, 0.8);
}

.text-and-image-block,
.skills-carousel-block {
    background-color: rgba(44,69,107, 0.7);
}

footer {
    background-color: rgba(44,69,107, 0.7);
    border-color: rgba(44,69,107, 0.7);
}

.text-and-image-block .text-and-image-content .content-text p:not(:first-of-type) {
    margin-top: 2.5rem;
}
